* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  background-color: #f3f2ef;
  align-items: center;
  width: 100%;
  
}

.app__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.app__navbar {
  display: flex;
  position: sticky;
  width: 100%;
  z-index: 999;
  background-color: #f3f2ef;
  flex-direction: column;
  width: 100%;
  top: 0;
}

.app__content {
  display: flex;
  min-width: 360px;
  margin: 0 35px;
  top: 80px;
}
  
